<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

<aop:aspectj-autoproxy/>

<bean name="circle" class="com.sparsh.learning.spring.model.Circle">
	<property name="name" value="Circle"></property>
</bean>

<bean name="square" class="com.sparsh.learning.spring.model.Square">
	<property name="name" value="Square"></property>
</bean>

<bean name="shapeService" class="com.sparsh.learning.spring.service.ShapeService">
	<property name="circle" ref="circle"/>
	<property name="square" ref="square"/>
</bean>

<bean name="loggingAspect" class="com.sparsh.learning.spring.aop.LoggingAspect"/>
</beans>